#supportL>table{margin:10px;vertical-align:middle;}
#supportL>table>tr>td:nth-child(1){padding-right:20px;color:#0074cc;cursor:pointer;}
#supportL>table>tr>td.resolved{color:green;}
#supportL>table>tr>td:nth-child(3){padding-right:30px;padding-left:30px;}
#supportL>table>tr>td:nth-child(4){padding-right:30px;padding-left:30px;}
#supportL>table>tr>td.supportTd{cursor:auto;}
#supportL>table .supportTd table{margin:5px 0 5px 20px;}
#supportL>table .supportTd td{border:1px solid #aaa;padding:3px 5px;}
#supportL>table .supportTd textarea{width:90%;padding:6px;}
#supportL>table .supportTd .bouton{margin:10px;}
#supportL>table>tr>td:nth-child(5) div, #supportL>table .supportTd div{cursor:pointer;width:16px;height:16px;}
#supportL table table td{max-width:600px;overflow:hidden;}
#supportNotif{text-align:center;background-color:orange;}
@media screen and (max-width:780px){
	.supportTrL{display:block;margin-bottom:10px;border-top:1px solid #888;}
	.supportTrL td:nth-child(2){display:block;}
	.supportTrL td:nth-child(3){display:block;text-align:right;padding-right:0;}
	.supportTrL td:nth-child(4){padding-left:0;}
	.supportT table tr{display:block;margin-bottom:8px;}
	.supportT table td:nth-child(1){display:block;}
	.supportT table td:nth-child(2){min-width:60%;}
}
